
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.card-container {
    position: relative;
    gap: 20px;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 20px;
}
.card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}
.card-text {
    font-size: 1em;
    color: #555;
}
.card-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}
.card-button:hover {
    background-color: #0056b3;
}
